.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.input {
  position: relative;
  top: 10px;
  width: 900px;
  height: 140px;
  font-size: 76pt;
  padding: 12px 20px;
  margin: 30px 0;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 4px;
  resize: none;
}

.buttonplay {
  position: relative;
  top: 50px;
  left: 480px;
  background: #FFD749;
  border: none;
  border-radius: 20px;
  color: black;
  width: 420px;
  height: 120px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 40px;
}

.buttonscore {
  position: relative;
  top: -70px;
  right: 240px;
  padding: 35px 0;
  background: #FFD749;
  border: none;
  border-radius: 20px;
  color: black;
  width: 420px;
  height: 120px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 40px;
}

.buttonback {
  position: relative;
  top: -105px;
  left: 1200px;
  padding: 18px 0;
  background: #FFD749;
  border: none;
  border-radius: 12px;
  color: black;
  width: 100px;
  height: 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}

.buttonplay:hover {
  background-color: white;
}

.buttonscore:hover {
  background-color: white;
}

.buttonback:hover {
  background-color: white;
}

.scoreboardtitle {
  margin: 30;
  line-height: 1.15;
  font-size: 4rem;
  text-align: center;
}


.column {
  width: 100%;
  line-height: 390%;
  text-align: center;
}

.gameplay {
  width: 100%;
  line-height: 300px;
  text-align: center;
  position: relative;
  left: 100px;
  font-size: 4rem;
}

.score {
  font-size: 10rem;
}

.result {
  margin: 200px;
  line-height: 1.15;
  font-size: 4rem;
  text-align: center;
}

.resultback {
  width: 300px;  
  height: 300px;  
  border: 5px solid red;  
  display: flex;  
  justify-content: center;  
  align-items: center;  
  top: 50px;
  left: 480px;
  background: #FFD749;
  border: none;
  border-radius: 20px;
  color: black;
  width: 420px;
  height: 120px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 40px;
}

.resultback:hover {
  background-color: white;
}


